.main-footer_wrap {
  background: $c-color2;
  padding: calculateRem(40px) 0 calculateRem(60px) 0;
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: calculateRem(-8px);
    left: 0;
    height: calculateRem(8px);
    width: 50%;
  }

  &::before {
    background: $c-color4;
  }
  &::after {
    left: auto;
    right: 0;
    background: $c-primary;
  }
}

.main-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include font-size($f-size-sm);
  column-gap: calculateRem(50px);
 
  a {
    color: $c-primary;
  }
}

.main-footer_logo {
  display: inline-block;

  img {
    display: flex;
    height: calculateRem(45px);
  }
}

.main-footer_col {
  h2 {
    @include font-size($f-size-sm);
    text-transform: uppercase;
    margin: 0;
    font-weight: $f-weight-medium;
    color: $c-secundary;
  }

  li {
    margin-bottom: calculateRem(10px);
  }
}

@media #{$tablet-portrait} {
  .main-footer_col {
    &:first-child {
      width: 25.133%;
    }
  }
}

@media #{$tablet-landscape} {
  .main-footer {
    flex-wrap: nowrap;
  }
}

@media #{$until-tablet-portrait} {
  .main-footer {
    row-gap: calculateRem(20px);
    text-align: center;
  }
  .main-footer_col {
    width: 100%;
  }
}