// + Colors
// -------
//## principal colours
$c-primary:         #7A7A7A;
$c-secundary:       #54595F;
$c-color1:          #E7E7E7;
$c-color2:          #EAEBEB;
$c-color3:          #f4f4f4;
$c-color4:          #DDDDDD;
$c-color5:          #fef9f5;
$c-color6:          #fafafa;
$c-color7:          #A7A7A7;


$c-text: $c-primary;
$body-background: #fff;

// border
$c-border: #f7f0ea;

// + UI-ELEMENTS
// -------
$accessibility-outline-color: transparent;
$c-link: $c-primary;
$c-link-hover: $c-link;

// overlay
$overlay-background: rgba($c-text, .5);